* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Monda', sans-serif!important;
}

html {
  background-color: #181824;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
